:root {
  --grey: #a3a3a3;
  --black: #252525;
  --white: #ffffff;
  --red: #b94a48;
  --blue: #3176b1;
  --yellow: #c79021;

  --mobile-width: 767px;
  --tablet-width: 1179px;
  --desktop-width: 1180px;
}