:root {
  --grey: #8c8c8c;
  --grey-light: #c7c7c7;
  --black: #252525;
  --white: #ffffff;
  --red: #b94a48;
  --blue: #3176b1;
  --yellow: #c79021;
  --green: #468e2c;

  --mobile-width: 767px;
  --tablet-width: 1179px;
  --desktop-width: 1180px;
}
