@use '../../styles/media.scss';
@import '../../styles/main';

.container {
  max-width: media.$desktop-width;
  margin: 0 auto;
  padding: 0 2rem;

  @media(max-width: media.$mobile-width) {
    padding: 0 1rem;
  }
}

.page {
  padding-top: 4rem;

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    font-size: 0.8rem;

    @media(max-width: media.$mobile-width) {
      justify-content: flex-end;
    }
  }

  &__empty-message {
    margin-top: 3rem;
    color: var(--grey);
    font-size: 1.1rem;
  }
}
