@import '../../styles/main';

.container {
  max-width: var(--desktop-width);
  margin: 0 auto;
}

.page {
  padding-top: 4rem;

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    font-size: 0.8rem;
  }
}
