@use '../../styles/media.scss';

.table {
  border-collapse: collapse;
  width: 100%;

  --cellWidth: auto;

  thead {
    @media(max-width: media.$mobile-width) {
      display: none;
    }
  }

  tr {
    position: relative;

    @media(max-width: media.$mobile-width) {
      display: flex;
      flex-wrap: wrap;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

  }

  tbody tr {
    transition: color 0.4s;

    @media(min-width: media.$mobile-width) {
      border-top: 1px solid var(--grey-light);
      border-bottom: 1px solid var(--grey-light);
    }

    &:hover {
      background-color: var(--blue-light);
    }
  }

  th {
    width: var(--cellWidth);
    color: var(--grey);
    font-weight: 600;
  }

  th, td {
    padding: 0.9rem;
    width: var(--cellWidth);
    font-size: 0.8rem;

    @for $i from 1 through 20 {
      $count: $i * 5;

      &.w-#{$count} {
        --cellWidth: #{$count}.0%;
      }

      @media(max-width: media.$mobile-width) {
        &.mobile-w-#{$count} {
          --cellWidth: #{$count}.0%;
        }
      }
    }
  }

  td {
    span {
      display: block;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    @media(max-width: media.$mobile-width) {
      padding: 0.6rem;
      border: 0.5px solid var(--grey-light);

      [data-css-title]::before {
        display: block;
        width: 100%;
        content: attr(data-css-title);
        color: var(--grey);
        font-size: 0.7rem;
        line-height: 1.3rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

  td a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

